.str-card-container{
  width: 100%;
  height: 62vh;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.card{
  width: 900px;
  position: sticky;
  top: 150px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  border-radius: 58px;
  padding-top: 10px;
}

.str-card-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 20px 40px;
}

.str-card-body{
  display: flex;
  flex-direction: column;
  padding: 0 40px 20px;
}

.str-card-footer{
  width: 100%;
  height: 150px;
  background-image: image-set(
    url(./card/card-footer.webp) type("image/webp"),
    url(./card/card-footer.png) type("image/png"));
  background-size: cover;
  background-position: center center;
}

.card.card-black{
  background-color: #212121;
}

.card.card-white{
  background-color: #ffffff;
  color: #212121;
}

.card.card-grey{
  background-color: #7D7D7D;
  color: #ffffff;
}

.card.card-yellow{
  background-color: #FEC235;
  color: #212121;
}

.card.card-golden{
  background-color: #E88D10;
  color: #ffffff;
}
