.container.pre-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #FFDD00;
}

.grid-container{
  width: 100%;
  max-width: 1366px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.grid-container::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  clip-path: polygon(0 0, 10% 2%, 0 11%, 10% 69%, 23% 63%, 35% 39%, 21% 37%, 43% 30%, 48% 47%, 39% 44%, 30% 66%, 26% 94%, 100% 100%, 100% 0);
}

.contact-info-container,
.form-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

.contact-info-container{
  justify-content: space-between;
}

.contact-info-container h1{
  font-size: 66px;
  color: #ffffff;
}


@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}