@font-face {
  font-display: block;
  font-family: Roboto;
  src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 600;
  src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff");
}

@font-face {
  font-display: fallback;
  font-family: Roboto;
  font-weight: 700;
  src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff");
}

#sib-container input:-ms-input-placeholder {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #dfdfdf;
}

#sib-container input::placeholder {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #dfdfdf;
}

#sib-container textarea::placeholder {
  text-align: left;
  font-family: Helvetica, sans-serif;
  color: #dfdfdf;
}

#sib-container a {
  text-decoration: underline;
  color: #2BB2FC;
}

.entry__field, .sib-sms-select__number-input {
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #b3b3b3 !important;
}

.sib-sms-select__title, input[type="text"], .sib-sms-select__phone-number {
  border: none !important;
  background-color: transparent !important;
}

.sib-form {
  text-align: left;
  background-color: transparent;
}

.sib-form-container {
  max-width: 540px;
  margin: 0 auto;
}

.sib-form, 
.sib-form-container,
#sib-container,
#sib-form{
  width: 100%;
  height: 800px;
}

.sib-form-message-panel {
  font-size: 16px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  border-radius: 3px;
  max-width: 540px;
}

.sib-form-message-panel__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sib-form-message-panel__inner-text {
  margin-left: 10px;
}

.sib-container--large {
  max-width: 540px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 3px;
  border-width: 0px;
  border-color: #C0CCD9;
  border-style: solid;
}

.sib-form-block__button {
  font-size: 16px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #3E4857;
  border-radius: 3px;
  border-width: 0px;
  padding: 10px 20px;
  cursor: pointer;
}

.sib-form-block__button:hover {
  background-color: #2C3440;
}