header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.header-header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #FFDD00;
}

.header .nav-button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-header * svg{
  width: 35px;
  height: 35px;
  color: #000000;
}

.logo-img img {
  display: flex;  
  width: 150px;
}

.footer-header{
  height: 60px;
  display: grid;
  align-content: center;
  padding: 0 10px;
  background-color: #000000;
}

.footer-header .nav-menu{
  display: flex;
  justify-content: center;
}

.footer-header .movement-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.footer-header .movement-icon-container{
  width: 7px;
}

.footer-header ul li{
  list-style: none;
}

.footer-header ul li .movement-menu-item{
  text-decoration: none;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
}

.footer-header .left-content{
  width: 66px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 0px;
  transition: color .2s ease-in-out;
}

.footer-header .right-content{
  display: none;
}

.footer-header .right-content svg{
  transition: color .2s ease-in-out;
}

.nav-menu-item:hover .left-content,
.nav-menu-item:hover .right-content svg{
  color: #FFDD00;
  fill: #303030;
}

@media (min-width: 540px) {
  .footer-header .movement-menu{
    gap: 30px;
    justify-content: space-between;
  }
  .footer-header ul li .movement-menu-item{
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer-header .left-content{
    width: 68px;
  }
  .footer-header .right-content{
    display: flex;
    width: 25px;
  }
  .footer-header .right-content svg{
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .footer-header{
    padding: 0 50px;
  }
  .footer-header ul li .movement-menu-item{
    font-size: 12px;
  }
  .footer-header .left-content{
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .header-header{
    justify-content: flex-end;
    padding-right: 50px;
  }
  .header-header * svg{
    width: 50px;
    height: 50px;
  }
  .logo-img img {
    width: 160px;
  }
  .logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
  .footer-header{
    padding: 0 50px;
  }

  .footer-header .left-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    gap: 10px;
  }
  .footer-header .movement-icon-container{
    width: 16px;
  }
  .footer-header .right-content{
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 1366px) {
  .footer-header{
    height: 90px;
  }
  .footer-header ul li .movement-menu-item{
    font-size: 16px;
  }
  .footer-header .left-content{
    width: 170px;
    gap: 16px;
  }
  .footer-header .right-content{
    width: 40px;
    height: 40px;
  }
}