header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7a7a7;
  position: fixed;  
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  z-index: 9999;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-container * svg{
  width: 45px;
  height: 45px;
  color: #FEC235;
}

.header .nav-button {
  width: 80px;
  position: absolute;
  right: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-img img {
  width: 180px;
}

@media (min-width: 768px) {
  .logo-img img {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  header {
    height: 120px;
  }

  .logo-img img {
    width: 250px;
  }
}

@media (min-width: 1366px) {
  .logo-img img {
    width: 300px;
    padding-top: 12px;
  }
}
