header {
  width: 100%;
  height: 100px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7a7a7;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: image-set(
    url(../../assets/noise-bg.webp) type("image/webp"),
    url(../../assets/noise-bg.png) type("image/png")
  );
  background-size: cover;
  background-position: center;
}

.header-container * svg{
  width: 45px;
  height: 45px;
  color: #FEC235;
}

.header-container .menu-icon-container {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button {
  width: 60px;
  cursor: pointer;
  background-color: transparent;
  padding: 16px 10px 10px;
  border: none;
}

.logo-img img {
  width: 180px;
}

@media (min-width: 768px) {
  .logo-img img {
    width: 200px;
  }
  .nav-button {
    width: 70px;
    padding: 14px 10px;
  }
}

@media (min-width: 1024px) {
  header {
    height: 120px;
  }

  .logo-img img {
    width: 250px;
  }

  .nav-button {
    width: 80px;
    padding: 14px 10px;
  }
}

@media (min-width: 1366px) {
  .logo-img img {
    width: 300px;
    padding-top: 12px;
  }

  .nav-button {
    width: 100px;
    padding: 18px 12px;
  }
}
