.hero-container{
  height: 100%;
  background-color: #242424; /* provisorio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 250px 10px 100px;
  gap: 50px;
}

.hero-text *{
  text-transform: uppercase;
}

.hero-text p {
  line-height: 40px;
  overflow: hidden;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hero-text > p > span{
  overflow: hidden;
}

.hero-text .bold-title{
  font-weight: 800;
}

@media (min-width: 540px) {
  .hero-text p {
    font-size: 44px;
    line-height: 46px;
  }
}

@media (min-width: 768px) {
  .hero-text p {
    font-size: 48px;
    line-height: 54px;
  }
  .hero-container{
    padding: 250px 50px 100px;
  }
}

@media (min-width: 1024px) {
  .hero-text p{
    font-size: 54px;
    line-height: 60px;
    gap: 24px;
  }
  .hero-container .social-icons img{
    width: 50px;
  }
}

@media (min-width: 1024px) {
  .hero-text p{
    font-size: 54px;
    line-height: 60px;
    gap: 24px;
  }
}

@media (min-width: 1366px) {
  .hero-container{
    height: 100dvh;
  }
  .hero-text p{
    font-size: 76px;
    line-height: 73px;
    gap: 24px;
  }
}