.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100dvw;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 99999;
  padding: 0;
}

.popup-content {
  height: 100%;
  width: 95%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-menu {
  align-self: flex-start;
}

.close-button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 34px;
  align-self: flex-end;
}

.popup-content li{
    list-style: none;
    overflow: hidden;
    margin-bottom: 16px;
}

.popup-content .main-menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

@media (min-width: 768px) {
  .close-button {
    width: 42px;
    height: 42px;
  }
  .popup-content .main-menu a{
    font-size: 44px;
  }
}

@media (min-width: 955px) {
  .close-button {
    width: 44px;
    height: 44px;
  }
  .popup-content .main-menu a{
    font-size: 48px;
  }
}

@media (min-width: 1024px) {
  .popup-content .main-menu a{
    font-size: 54px;
  }
}

@media (min-width: 1366px) {
  .close-button {
    width: 50px;
    height: 50px;
  }
  .popup-content .main-menu a{
    font-size: 66px;
  }
}