.news-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

}

.news-container{
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  color: #212121;
}

.title-section{
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.title{
  width: 100%;
}

.title-section .subtitle-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: 22px;
}

.text-section{
  width: 100%;
  font-size: 18px;
  text-align: left;
  font-size: 22px;
}

.all-news-button{
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}