.post-hero-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  position: relative;
  padding: 40px 0;
  background-image: image-set(
    url(../../assets/noise-bg.webp) type("image/webp"),
    url(../../assets/noise-bg.png) type("image/png"));
  background-size: cover;
  background-position: center;
}