.post-hero-container{
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  position: relative;
  padding: 40px 0 100px;
  gap: 0;
  overflow: hidden;
  margin-top: -2px;
  z-index: 1;
}

.marquee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-17deg);
}

.marquee-track {
  display: flex;
  gap: 2rem;
}


.marquee-group {
  display: flex;
  gap: 2rem;
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.marquee-word {
  display: inline-block;
  line-height: 1;
}
