.pre-footer{
    width: 100%;
    height: 100dvh;
    padding: 30px 10px;
}

.grid-pre-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-footer-text{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .5px;
    color: #222;
    font-weight: 400;
}

.pre-footer-text div:nth-child(1),
.pre-footer-text div:nth-child(2){
    font-weight: 700;
}

.text-prefooter-conainer{
    width: 100%;
    max-width: 400px;
}

.parr-item{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-transform: uppercase;
}

@media (min-width: 540px) {
    .text-prefooter-conainer{
        max-width: 500px;
    }
    .pre-footer-text{
        font-size: 26px;
    }
}

@media (min-width: 768px) {
    .text-prefooter-conainer{
        max-width: 700px;
    }
    .pre-footer-text{
        font-size: 36px;
        line-height: 48px;
    }
}

@media (min-width: 1366px) {
    .pre-footer{
        padding: 70px 50px;
    }
    .grid-pre-footer{
        display: grid;
        grid-template-columns: 4fr 2fr;
        justify-content: space-between;
        gap: 70px;
        padding-bottom: 100px;
    }
    .text-prefooter-conainer{
        min-width: 100%;
    }
    .pre-footer-text{
        font-size: 44px;
        line-height: 60px;
    }
}

@media (min-width: 1600px) {
    .grid-pre-footer{
        grid-template-columns: 2fr 1fr;
    }
    .pre-footer-text{
        font-size: 54px;
        line-height: 60px;
    }
}