
.slider-container{
  height: 200px;
  display: grid;
  align-content: center;
  background-color: #e47519;
}

.slider-tool{
  width: 100%;
  display: flex;
  align-items: center;
  transition: animateTools infinite;
  overflow: hidden;
}

.slider-inner {
  height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  gap: 50px;
  animation: slide 16s infinite linear;
}

.slider-inner img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  object-fit: contain;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}