.post-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0 70px;
}

.card-container {
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}

.post-card {
  height: 450px;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 420px;
  min-width: 300px;
  background-position: center center;
  background-size: cover;
}

.post-card,
.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  overflow: hidden;
}

.info-container {
  height: 100%;
  opacity: 0;
  background-color: #212121d9;
  color: #fff;
  padding: 20px 30px;
  transition: opacity 0.2s ease-in-out;
}

.post-card:hover .info-container {
  opacity: 1;
}

.read-more-link {
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #212121;
  background-color: #fec235;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  padding: 8px 0;
  border: none;
}

.info-container .post-category {
  text-transform: capitalize;
}
