.hero-container{
  height: 100dvh;
  background-color: #ddd;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 250px;
  gap: 100px;
}

.hero-text p {
  text-transform: uppercase;
  line-height: 1.2;
  overflow: hidden;
}

@media (min-width: 1366px) {
  .hero-text{
    font-size: 44px;
    width: 550px;
    font-weight: 600;
    overflow: hidden;
  }
  .hero-text p div{
    display: flex;
    justify-content: space-between;
  }

}

